<div class="container">
  <ng-container *ngIf="cartData.data[0].numInCart !== 0">

    <h1 class="title">Общая сумма в корзине <span class="sum">{{ cartTotal | currency:'USD' }}</span>
    </h1>

  </ng-container>
  <div *ngIf="cartData.data[0].numInCart === 0;" class="text-center my-5">
    <h4>Your Cart Is Empty</h4>
    <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
  </div>
  <ng-container *ngIf="cartData.data[0].numInCart !== 0">

    <div class="cart">

      <div class="col-md-12">
        <div class="row">


          <div class="col-md-4 col-sm-6" *ngFor="let p of cartData.data;  let i=index">
            <div class="card my-2">
              <img [src]="p.product?.image">
              <div class="card-header">
                <div class="card-title">
                  <p>{{ p.product?.name | titlecase }}</p>
                </div>
              </div>
              <div class="card-body">
                <p class="lead">{{ p.product?.price | currency:'USD' }}</p>
              </div>
              <div class="quantity">
                <h5>Количество:</h5>
              </div>
              <form class="cart-increase">
                <div class="value-button" id="decrease" (click)="ChangeQuantity(i, false)">
                  <i class="fa fa-minus"></i>
                </div>
                <input type="number" id="number" [value]="p.numInCart" readonly [max]="p.product?.quantity"/>
                <div class="value-button" id="increase" (click)="ChangeQuantity(i, true)">
                  <i class="fa fa-plus"></i>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cart-btns col-md-12 d-flex mb-5">
      <div class="d-flex w-100 justify-content-between flex-sm-column flex-md-row">
        <a routerLink="/checkout" class="btn checkout-btn btn-sm order-1">Оформить заказ</a>
        <a routerLink="/" class="btn main-page-button btn-sm order-0">Перейти на главную</a>
      </div>
    </div>
  </ng-container>


</div>
