<!-- FOOTER -->
<footer id="footer">

  <div class="first-block">
    <span class="number">+7 (777) 022-52-14</span>
    <a href="https://www.instagram.com/ringshop403?igsh=bHQzMnFsdzdnZGZr" target="_blank">
      <img class="icon" src="assets/img/main/inst-icon.svg" alt="Instagram">
    </a>    <span class="text">* Цены в розничных магазинах могут отличаться от цен на сайте</span>

  </div>

  <div class="second-block">
    <span>© 2003-2024. "RING". Ювелирный сайт №1</span>
    <span>Разработка, поддержка и продвижение сайтов Web компания</span>
  </div>
</footer>
<!-- /FOOTER -->
