<!-- HEADER -->
<header>
  <!-- TOP HEADER -->
  <div id="top-header">
    <div class="container">
      <div class="container-cart">
        <ul class="header-links pull-left">
          <li><a href="#"><i class="fa fa-phone"></i> +7 (777) 022-52-14</a></li>
          <li><a href="#"><i class="fa fa-envelope-o"></i> danilovvadim.0404&#64;gmail.com</a></li>
          <li><a href="#"><i class="fa fa-map-marker"></i> Байзакова 280</a></li>
        </ul>
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
            <!-- Wishlist -->
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span class="cart-text">Your Wishlist</span>
                <div class="qty">0</div>
              </a>
            </div>
            <!-- /Wishlist -->

            <!-- Cart -->
            <div class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                <i class="fa fa-shopping-cart"></i>
                <span class="cart-text">Your Cart</span>
                <div class="qty">{{ cartData.data[0].numInCart !== 0 ? cartData.data.length : 0 }}</div>
              </a>
              <div class="cart-dropdown">
                <div class="cart-list" *ngIf="cartData.data[0].numInCart !== 0">
                  <div class="product-widget" *ngFor="let c of cartData.data; let i=index">
                    <div class="product-img">
                      <img src="{{ c.product?.image }}" alt="" width="20px">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{ c.product?.name }}</a></h3>
                      <h4 class="product-price"><span class="qty">{{ c.numInCart }}
                        x </span>{{ c.product?.price | currency:'USD' }}</h4>
                    </div>
                    <button class="delete" (click)="cartService.DeleteProductFromCart(i)"><i class="fa fa-close"></i>
                    </button>
                  </div>
                </div>
                <div class="cart-summary">
                  <small>{{ cartData.data[0].numInCart !== 0 ? cartData.data.length : 0 }} Item(s) selected</small>
                  <h5>TOTAL: {{ cartTotal | currency:'USD' }}</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">View Cart</a>
                  <a routerLink="/checkout">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
            <!-- /Cart -->

            <!-- Menu Toggle -->
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
            <!-- /Menu Toggle -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /TOP HEADER -->

  <!-- MAIN HEADER -->
  <div id="header">
    <!-- container -->
    <div class="container">
      <!-- row -->
      <div class="row-container">
        <!-- LOGO -->
        <nav class="navigation">
          <!-- container -->
          <ul class="main-nav nav py-3">
            <div class="logo">
              <img src="assets/img/logo.svg">
            </div>
            <li><a [routerLink]="['']">Главная</a></li>
            <li><a [routerLink]="['rings']">Кольца</a></li>
            <li><a [routerLink]="['chains']">Подвески</a></li>
            <li><a [routerLink]="['earrings']">Цепи</a></li>
            <li><a [routerLink]="['earrings']">Колье</a></li>
            <li><a [routerLink]="['earrings']">Браслеты</a></li>
            <li><a [routerLink]="['earrings']">Пирсинг</a></li>

          </ul>
          <ul class="header-links pull-right">
            <li><a href="#"><i class="fa fa-dollar"></i> KZT</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/register"><i class="fa fa-user-o"></i> Register</a></li>
            <li *ngIf="!isLoggedIn"><a routerLink="/login"><i class="fa fa-user-o"></i>Login</a></li>
            <li class="username" *ngIf="isLoggedIn">
              <a routerLink="/profile"><i class="fa fa-user-o"></i> {{ username }}</a>
              <button class="button-18" role="button" (click)="logout()">Logout</button>


            </li>
            <!-- HTML !-->


          </ul>
          <!-- /NAV -->
          <!-- /LOGO -->
        </nav>
        <!-- ACCOUNT -->

        <!-- /ACCOUNT -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- /MAIN HEADER -->
</header>
<!-- /HEADER -->
