#header {
  background-color: #FCF7FF;
  padding: 0;
}

#top-header {
  background-color: #ffffff;

}

.row-container {
  display: flex;
  justify-content: space-between
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;



  .main-nav {
    a {
      color: #68119E;
    }
  }
}

.logo {
  img {
    width: 100px;
    height: 100px;
  }
}



.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;

  a:link {
    text-decoration: none;
  }
}


.container-cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
}

.header-links {
  color: #6f42c1;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;


  li {
    a {
      color: #68119E;
    }
  }

  .username {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px
  }
}

/* CSS */
.button-18 {
  align-items: center;
  background-color: #9719ee;

  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
  background-color: #68119E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

.cart-icon {
  color: #6f42c1;
}

.checkout-btn{
  background-color: #9719ee !important;
}
.cart-btn{
  background-color: #D10024 !important;

}

.cart-text {
  color: #6f42c1;

}
