$cl-black: #1e212b;
$cl-green: #038726;
$cl-green-light: #3cbd0d;
$cl-green-hover: #026c1e;
$cl-green-light-hover: #63ca3d;
$cl-green-venom: #9ed110ff;
$cl-green-calendar: #e6f3e9;
$cl-gray: #696969;
$cl-gray-audio: #e2e5e7;
$cl-gray-light: #f3f4f5;
$cl-gray-dark: #45464f;
$cl-gray-middle: #d1d1d1;
$cl-gray-light-bg: #f1f3f4;
$cl-gray-scroll: #b3b3b3;
$cl-gray-table-header: #e6e9ed;
$cl-gray-table-border-bottom: #ddd;
$cl-table-odd: #f7f9fa;
$cl-white-bg: #ffffff;
$cl-white: rgba($cl-white-bg, 0.9);
$cl-blue: #0692d8;
$cl-blue-middle: #1666bc;
$cl-blue-tooltip: #3381d4;
$cl-red: #ff2e24;
$cl-red-light: #ed3e45;
