<div class="profile-container">
  <h1>Мой профиль</h1>
  <div class="profile-details">
    <img [src]="user.photoUrl" alt="Profile Photo" *ngIf="user.photoUrl">

    <p><strong>Логин:</strong> {{ user.username }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Имя:</strong> {{ user.fname }}</p>
    <p><strong>Фамилия:</strong> {{ user.lname }}</p>
    <p><strong>Возраст:</strong> {{ user.age }}</p>

    <a [routerLink]="['/profile/edit']" class="edit-profile-link">
      <i class="fa fa-cog" aria-hidden="true"></i> Редактировать
    </a>
  </div>
</div>
