.profile-container {
  .edit-profile-link {
    display: inline-block;
    margin-top: 10px;
    font-size: 1.2em;
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 5px;
    }
  }
}
