.disabled {
  cursor: not-allowed;
}
.input-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .input{
    width: 450px;
    height: 50px;
    margin: 40px 0;
    border-radius: 40px;
  }
}

.error-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .error {
    font-size: 34px;
    font-weight: bold;
    color: red;
  }
}

.section-title{
  margin: 0 ;
}
.card{
  padding: 24px;
  border: 1px solid #cccccc;
  border-radius: 12px;

  img{
    width: 300px;
    height: 220px;
    object-fit: cover;
  }

  .card-header{
    padding: 0;
    background-color: white;
    font-weight: 600;
    font-size: 24px;
    color: #68119E;
  }
}
