<ngx-spinner
  bdColor= "rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  [fullScreen]="true"
>
  <p style="font-size: 20px; color: black">Booking Order...</p>
</ngx-spinner>

<div class="section" *ngIf="cartData.total > 0">
<!-- container -->
<div class="container">
  <!-- row -->


    <!-- Order Details -->
    <div class="col-md-5 order-details">
      <div class="section-title text-center">
        <h3 class="title">Ваш заказ</h3>
      </div>
      <div class="order-summary">
        <div class="order-col">
          <div><strong>ПРОДУКТЫ</strong></div>
          <div><strong>Цены</strong></div>
        </div>
        <div class="order-products">
          <div class="order-col" *ngFor="let c of cartData.data;">
            <div>{{c.numInCart}}x {{c.product?.name}}</div>
            <div>{{(c.product!.price ? c.product!.price * c.numInCart : 0) | currency:'USD'}}</div>
          </div>
        </div>
        <div class="order-col">
          <div>Shipping</div>
          <div><strong>FREE</strong></div>
        </div>
        <div class="order-col dropdown-divider">
          <div><strong>Общая сумма:</strong></div>
          <div><strong class="order-total">{{cartTotal | currency:'USD'}}</strong></div>
        </div>
      </div>


      <button type="submit" class="btn-outline-danger btn-sm my-2 btn-block" [disabled]="cartTotal <= 0 " (click)="onCheckout()">Заказать</button>
    </div>
    <!-- /Order Details -->
  </div>
  <!-- /row -->
</div>
<!-- /container -->

<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0">
  <h4>Your Cart Is Empty</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">GO TO SHOP</button>
</div>
